<div class="bg-light min-vh-100 container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="display-1 text-dark text-center py-5">Welcome on .Shop</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-8 col-lg-4">
      <div class="card">
        <h4 class="card-header bg-dark text-light ">Login</h4>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group py-2">
              <label class="form-label" for="email">Email</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              />
              <div
                *ngIf="submitted && f['email'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['email'].errors?.['required']">
                  Email is required
                </div>
              </div>
            </div>
            <div class="form-group py-2">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              />
              <div
                *ngIf="submitted && f['password'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['password'].errors?.['required']">
                  Password is required
                </div>
              </div>
            </div>
            <div class="form-group pt-3">
              <button [disabled]="loading" class="btn btn-dark">
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Login
              </button>
              <a routerLink="/register" class="ms-2 btn btn-link-secondary">Register</a>
            </div>
          </form>
          <div *ngIf="!error" class="align-items-center pt-2 ">
            <p class="text-danger mb-0">Invalid email or password</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
